.header {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.quiz-container {
    position: relative;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

#timer {
    position: absolute;
    top: 95px;
    right: 300px;
    font-size: 24px;
}

#submit-btn {
    background-color: #8B0000;
    border-color: #8B0000;
    margin-top: 0px;
}

#submit-btn:hover {
    background-color: #B22222;
    border-color: #B22222;
}

#leaderboard {
    margin-top: 20px;
    display: none;
}

#leaderboard h2 {
    margin-bottom: 10px;
}

#leaderboard ol {
    list-style: none;
    padding: 0;
}

#leaderboard li {
    margin-bottom: 5px;
}

#start-over-btn {
    background-color: #8B0000;
    border-color: #8B0000;
    color: white;
    display: none;
}

#start-over-btn:hover {
    background-color: #B22222;
    border-color: #B22222;
}

#leaderboard-btn {
    background-color: #8B0000;
    border-color: #8B0000;
}

#leaderboard-btn:hover {
    background-color: #B22222;
    border-color: #B22222;
}